/* ESTILOS GERAIS */

*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 2rem;
}

.btn{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 3rem;
    padding: 1rem 2rem;
}

.btn-branco{
    color: rgb(0, 0, 0);
    background-color: white;
}

a{
    text-decoration: none;
}


/* ESTILOS DO BANNER */

.banner-div{
    height: 90vh;
    text-align: center;
    padding-top: 20rem;
    color: rgb(8, 8, 8);
    background: url(../IMG/capa2.png) center center / cover no-repeat;
}

.banner-container{
    max-width: 1080px;
    margin: 10rem auto 0px;
}


.banner-titulo{
    font-size: 7rem;
}

.banner-subtitulo{
    font-size: 2.5rem;

}

.margin-bottom{
    margin-bottom: 3rem;
}

/* ESTILO SEÇÃO SOBRE MIM
 */

 .sobre-container{
    margin: 8rem auto 0px;
 }

 .sobre-titulo{
    font-size: 4rem;
    color: rgb(30, 103, 167);
 }

 .sobre-descricao__div{
    width: 45%;
    display: inline-block;
    line-height: 2;
 }

.sobre-descricao__destaque{
    font-size: 2.5rem;
}

	.sobre-descricao__texto{
    display: inline-block;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn-roxo{
    color: rgb(30, 103, 167);
    border-width: 1.5px;
    border-style: solid;
    border-color: rgb(30, 103, 167);
    border-image: initial;
}

.sobre-habilidades__div{
    width: 40%;
    display: inline-block;
    line-height: 0.5;
    margin-left: 10rem;
}

.sobre-habilidades__titulo{
    font-size: 3rem;
}

.sobre-habilidades__lista{
    padding-left: 2rem;
    line-height: 2;
    font-size: 2rem;
}


/* ESTILO REDES SOCIAIS */

.redes-sociais__div{
    text-align: center;
    margin: 2.5rem;
    margin-bottom: 80px;
}

.redes-sociais__item{
    display: inline-block;
    width: 20%;
    background-color: rgb(30, 103, 167);
    text-align: center;
    color: white;
    padding: 2rem 0px;
    margin: 0px 1rem;
}

.redes-sociais__img{
    margin-bottom: 0.5rem;
}

